{% extends "baseTemplate.html" %}

{% block head %} {{ super() }} {% endblock %}

{% block title %} About Us {% endblock %}


<!-- Header-->
{% block navbar %} {{ super() }}{% endblock %}

{% block navLogin %}
    {% if current_user.is_authenticated %}
        <li class="nav-item"><a class="nav-link text-nowrap" href="{{ url_for('logout') }}">Log Out</a></li>
    {% else %}
        {{ super() }}
    {% endif %}
{% endblock %}

{% block navSignup %}
    {% if current_user.is_authenticated %}
        <li class="nav-item"><a class="nav-link text-nowrap" href="{{ url_for('signup') }}">Welcome <i>{{ current_user.first_name }}</i></a></li>
    {% else %}
        {{ super() }}
    {% endif %}
{% endblock %}




<!--Variable content-->
{% block contents %}



    <div class="card">
        <div class="card-body">
            <h2><b>ABOUT US</b></h2>
            <p><br/>
                At Maple Daycare, our first priority is the well-being of your children. It is a pleasant and comfortable environment for children to learn,
                grow and adapt to life in society. Our expert panel of qualified educators follows a curriculum to create a learning environment for your children.
                Motivated by their love for children, they ensure the child can harmoniously integrate a group. This daycare is purposely created for a small
                group to allow for a more personal touch. With over ten years experience, I’ve noticed that a smaller group is less stressful for the children and
                makes them feel safe, allowing them to grow in comfort and security. My plan is to give children opportunities to explore their emotions,
                creativity, imagination, and physical growth, encouraging confidence and independence. Through this program children will learn: how to socialize
                with others, a sense of responsibility and a healthy lifestyle: children must have a healthy diet, therefore, following the Canadian food guide,
                the meals will consist of a variety of nutritious elements.</p>
            <br/>

            <p style="font-size: 16px"><u>Our qualified educators</u></p>

            <ul style="font-size: 15px">
                {% for doc in doc_list_abt %}
                    <li>
                        {% for col in doc[:2] %}
                            {% if loop.index is divisibleby(2) %}
                                {{ col }}
                            {% else %}
                                {{ col }}:
                            {% endif %}
                        {% endfor %}
                    </li>

                {% endfor %}
            </ul>
        </div>

    </div>

{% endblock %}




<!--Footer-->
{% block foot %}
    {{ super() }}
{% endblock %}
