{% extends "baseTemplate.html" %}

{% block head %} {{ super() }} {% endblock %}

{% block title %} Contact {% endblock %}


<!-- Header-->
{% block navbar %} {{ super() }}{% endblock %}

{% block navLogin %}
    {% if current_user.is_authenticated %}
        <li class="nav-item"><a class="nav-link text-nowrap" href="{{ url_for('logout') }}">Log Out</a></li>
    {% else %}
        {{ super() }}
    {% endif %}
{% endblock %}

{% block navSignup %}
    {% if current_user.is_authenticated %}
        <li class="nav-item"><a class="nav-link text-nowrap" href="{{ url_for('signup') }}">Welcome <i>{{ current_user.first_name }}</i></a></li>
    {% else %}
        {{ super() }}
    {% endif %}
{% endblock %}


<!--Variable content-->

{% block contents %}
    <script src="{{ url_for('static', filename="JS/contactValidation.JS") }}"></script>


    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="contactBox">
            <p class="contactText"><b>Open from 6:30 am to 6:00 pm Monday through Friday</b></p>
            <p class="contactText"><b>514-450-0374</b></p>
            <p class="contactText"><b>mapledaycare@gmail.com</b></p>
            <p class="contactText"><b>1234 Maple Street, Île-Perrot</b></p>
        </div>

        <div class="map-responsive">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2796.7705898340037!2d-73.57956618447862!3d45.49456427910126!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cc91a6a636dd639%3A0x9e85cac6415827f0!2sConcordia%20University!5e0!3m2!1sen!2sca!4v1574893312275!5m2!1sen!2sca" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
    </div>

    {% if current_user.is_authenticated %}

        <form class="cForm col-xl-6 col-lg-6 col-md-12 col-sm-12" action="/contact" method="post" onsubmit="return contactValidate()">
            {{ form.csrf_token }}

            {% if form.errors %}
                <div>
                    {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                        {% for error in field_errors %}
                            <div><p class="errorList">*{{ form[field_name].label }}: {{ error }}</p></div>
                        {% endfor %}
                    {% endfor %}
                </div>
                <br/>
                <br/>
            {% endif %}

            <p style="font-size: 21px; margin: 10px 0px">Application Form</p>
            <table>
                <tr>
                    <td><label class="label2">Child's Full Name</label></td>
                    <td><input id="full_name" type="text" name="full_name" required/></td>
                </tr>
                <tr>
                    <td><label class="label2">Gender</label> </td>
                    <td align="left">
                        <label class="labelRad"><input type="radio" name="radio_group" value="Boy" required/>Boy</label>
                        <label class="labelRad"><input type="radio" name="radio_group" value="Girl" required/>Girl</label>
                        <label class="labelRad"><input type="radio" name="radio_group" value="Other" required/>Other</label>
                    </td>
                </tr>

                <tr>
                    <td><label class="label2">Date of Birth</label></td>
                    <td><input type="date" name="dob" required/></td>
                </tr>
                <tr>
                    <td><label class="label2">Questions/Comments</label></td>
                    <td><textarea rows="6" cols="56" placeholder="Write something here..." name="message"></textarea></td>
                <tr>
                    <td></td>
                    <td><button type="submit" style="margin-top: 18px; margin-bottom: 7px;">Apply</button>
                        <button type="reset" style="margin-bottom: 22px">Clear</button>
                    </td>
            </table>
        </form>

    {% else %}
        <div id="raindrops" class="col-xl-6 col-lg-6 col-md-12 col-sm-12" style="margin-bottom: 60px">
            <div class="card">
                <div class="card-body">
                    <p style="font-size: 16px">If you wish to complete an application form for your child, you must be logged into an account!</p>
                    <br/>
                    <a href="{{ url_for('login') }}"><img style="float: left; padding: 20px; max-width: 40%" class="col-xl-6 col-lg-6 col-md-12 col-sm-12" src="static/images/raindropL.PNG" alt="Log in"/></a>
                    <br/><br/><br/><br/><br/><br/>
                    <a href="{{ url_for('signup') }}"><img style="float: right; padding: 20px; padding-bottom: 75px; max-width: 40%" class="col-xl-6 col-lg-6 col-md-12 col-sm-12" src="static/images/raindropS.PNG" alt="Sign up"/></a>
                </div>
            </div>
        </div>
    {% endif %}



{% endblock %}




<!--Footer-->
{% block foot %}
    {{ super() }}
{% endblock %}

