{% extends "baseTemplate.html" %}

{% block head %} {{ super() }} {% endblock %}

{% block title %} Log In {% endblock %}


<!-- Header-->
{% block navbar %} {{ super() }}{% endblock %}

{% block navLogin %}
    {% if current_user.is_authenticated %}
        <li class="nav-item"><a class="nav-link text-nowrap" href="{{ url_for('logout') }}">Log Out</a></li>
    {% else %}
        {{ super() }}
    {% endif %}
{% endblock %}

{% block navSignup %}
    {% if current_user.is_authenticated %}
        <li class="nav-item"><a class="nav-link text-nowrap" href="{{ url_for('signup') }}">Welcome <i>{{ current_user.first_name }}</i></a></li>
    {% else %}
        {{ super() }}
    {% endif %}
{% endblock %}



<!--Variable content-->
{% block contents %}

    <script src="{{ url_for('static', filename="JS/loginValidation.JS") }}"></script>

    <form action="/login" method="post" onsubmit="return loginValidate();">
        {{ form.csrf_token }}
        <div><p class="errorList">{% for message in get_flashed_messages() %}{{ message }}</p></div><br/>{% endfor %}
        {% if form.errors %}
            <div>
                {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                    {% for error in field_errors %}
                        <div><p class="errorList">{{ form[field_name].label }}: {{ error }}</p></div>
                    {% endfor %}
                {% endfor %}
            </div>
            <br/>
            <br/>
        {% endif %}
        <h2>Account Login</h2>

        <div align="center">
            <hr>
            <input id="email" type="email" placeholder="email" name="email" required/>
            <input id="password" type="password" placeholder="password" name="password" required/>
            <hr>

            <button type="submit">Log in</button>

            <p class="message">Not registered? <a href="{{ url_for('signup') }}">Create an account</a></p>

        </div>
    </form>



{% endblock %}




<!--Footer-->
{% block foot %}
    {{ super() }}
{% endblock %}
