{% extends "baseTemplate.html" %}

{% block head %} {{ super() }} {% endblock %}

{% block title %} Programs {% endblock %}


<!-- Header-->
{% block navbar %} {{ super() }}{% endblock %}

{% block navLogin %}
    {% if current_user.is_authenticated %}
        <li class="nav-item"><a class="nav-link text-nowrap" href="{{ url_for('logout') }}">Log Out</a></li>
    {% else %}
        {{ super() }}
    {% endif %}
{% endblock %}

{% block navSignup %}
    {% if current_user.is_authenticated %}
        <li class="nav-item"><a class="nav-link text-nowrap" href="{{ url_for('signup') }}">Welcome <i>{{ current_user.first_name }}</i></a></li>
    {% else %}
        {{ super() }}
    {% endif %}
{% endblock %}



<!--Variable content-->

{% block contents %}


    <div class="card">
        <div class="card-body">
            <h2><b>PROGRAMS</b></h2>
        </div>
    </div>

    <br/>

    <span id="infant"></span>
    <div class="card">
        <div class="card-body">
            <div class="container block">
                <h2>Infant Program (0 - 24 months)</h2>
                <br/>
                <div class="table-striped table-bordered table-responsive">

                    <table class="table" style="background-color: #fff8d6">

                        <caption style="caption-side: top">Schedule of Activities</caption>
                        <thead>
                        <tr>
                            <th>Time</th>
                            <th>Activity</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for doc in doc_list_inf %}
                            <tr>
                                {% for col in doc[:2] %}
                                    <td>{{ col }}</td>
                                {% endfor %}
                            </tr>
                        {%  endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

    <br/>

    <span id="preschool"></span>
    <div class="card">

        <div class="container block">

            <div class="card-body">

                <h2>Preschool Program (2 - 5 years)</h2>
                <br/>
                <div class="table-striped table-bordered table-responsive">
                    <table class="table" style="background-color: #daeff7">

                        <caption style="caption-side: top">Schedule of Activities</caption>
                        <thead>
                        <tr>
                            <th>Time</th>
                            <th>Activity</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for doc in doc_list_pre %}
                            <tr>
                                {% for col in doc[:2] %}
                                    <td>{{ col }}</td>
                                {% endfor %}
                            </tr>
                        {%  endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
    </div>


{% endblock %}




<!--Footer-->
{% block foot %}
    {{ super() }}
{% endblock %}

