{% extends "baseTemplate.html" %}

{% block head %} {{ super() }} {% endblock %}

{% block title %} Sign Up {% endblock %}


<!-- Header-->
{% block navbar %} {{ super() }}{% endblock %}

{% block navLogin %}
    {% if current_user.is_authenticated %}
        <li class="nav-item"><a class="nav-link text-nowrap" href="{{ url_for('logout') }}">Log Out</a></li>
    {% else %}
        {{ super() }}
    {% endif %}
{% endblock %}

{% block navSignup %}
    {% if current_user.is_authenticated %}
        <li class="nav-item"><a class="nav-link text-nowrap" href="{{ url_for('signup') }}">Welcome <i>{{ current_user.first_name }}</i></a></li>
    {% else %}
        {{ super() }}
    {% endif %}
{% endblock %}


<!--Variable content-->

{% block contents %}
    <script src="{{ url_for('static', filename="JS/signupValidation.JS") }}"></script>

    {% if current_user.is_authenticated %}
        <div style="height: 85vh; width:auto;">
            <a href="{{ url_for('logout') }}"><img id="squirrelLogout" src="static/images/squirrelLogout.PNG" alt="Squirrel"/></a>
        </div>

    {% else %}

        <form class="contactForm" action="/signup" method="post" onsubmit="return signupValidate();">

            {{ form.csrf_token }}
            <div><p class="errorList">{% for message in get_flashed_messages() %}{{ message }}</p></div><br/>{% endfor %}
            {% if form.errors %}
                <div>
                    {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                        {% for error in field_errors %}
                            <div><p class="errorList">*{{ form[field_name].label }}: {{ error }}</p></div>
                        {% endfor %}
                    {% endfor %}
                </div>
                <br/>
                <br/>
            {% endif %}
            <div>

                <h2>Registration</h2>
                <p>Please fill in this form to create an account.</p>

                <hr>

                <label class="label2"><b>First Name</b></label>
                <input id="first_name" class="contactInput" type="text" placeholder="Enter your first name" name="first_name" required/>

                <label class="label2"><b>Last Name</b></label>
                <input id="last_name" class="contactInput" type="text" placeholder="Enter your last name" name="last_name" required/>

                <label class="label2"><b>Phone Number</b></label>
                <input id="phone" class="contactInput" type="tel" placeholder="Enter your phone number" name="phone" required/>

                <label class="label2"><b>Email</b></label>
                <input id="email" class="contactInput" type="email" placeholder="Enter your email" name="email" required/>

                <label class="label2"><b>Password</b></label>
                <input id="password" class="contactInput" type="password" placeholder="Enter your password" name="password" required/>

                <label class="label2"><b>Repeat Password</b></label>
                <input class="contactInput" type="password" placeholder="Repeat your password" name="password_repeat" required/>

                <hr>

                <button type="submit">Register</button>
            </div>

            <div class="signin">
                <p class="message">Already have an account? <a href="{{ url_for('login') }}">Sign in.</a></p>

            </div>
        </form>

    {% endif %}


{% endblock %}




<!--Footer-->
{% block foot %}
    {{ super() }}
{% endblock %}
