
/*BASE TEMPLATE*/

header {
  position:fixed;
  color: #3A94C9;
  z-index:1;
}

/*Links*/
a {
  color: cornflowerblue;
}
a:link {
  text-decoration: none;
}

body {
  padding: 120px 30px 115px;
  background-color: darkseagreen;
  font-size: 24px;
  font-family: "Varela", Arial, sans-serif;
}

.brandLogo {
  position: relative;
  text-align: center;
  color: saddlebrown;
  font-family: "Bubblegum Sans", Arial, sans-serif;
  font-size: 23px;
}

#container {
  top: 130px;
  bottom:0px;
  width: 100%;
  position: fixed;
  overflow: hidden;
}

.nav-item {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px;
  font-weight: bold;
}

footer {
  font-size: small;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: lightgoldenrodyellow;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 9px 8px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: palegoldenrod;}

.dropdown:hover .dropdown-content {display: block;}



/*LOGIN*/

form {
  position: relative;
  background: white;
  max-width: 460px;
  margin: 25px auto 100px;
  padding: 30px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

input {
  background: #FFEDD9;
  width: 100%;
  border: 0;
  margin: 6px 0 2px;
  padding: 6px;
  box-sizing: border-box;
  font-size: 14px;

}

form button {
  text-transform: uppercase;
  outline: 0;
  background: brown;
  width: 100%;
  border: 0;
  margin-top: 0px;
  padding: 15px;
  font-size: 14px;
  cursor: pointer;
  color: #FFEDD9;
}

form button:hover,.form button:active,.form button:focus {
  background: maroon;
}

.message {
  padding-top: 6px;
  font-size: 14px;
}





/*SIGN UP*/

.contactForm {
  position: relative;
  background: white;
  max-width: 660px;
  margin: 25px auto 100px;
  padding: 30px;
  text-align: center;}

.contactInput {
  background: #FFEDD9;
  width: 100%;
  border: 0;
  margin: 0px 0 0px;
  padding: 13px;
  box-sizing: border-box;
  font-size: 14px;
}


.label2 {
  font-size: 15px;
  text-align: right;
  float:left;
  padding: 20px 12px 0 0;
  display: inline-block;
}

#squirrelLogout {
  position:relative;
  top:-50px;
  max-height: 90%;
}




/*PROGRAMS*/

.table {
  margin: auto;
  max-width: 800px;
  padding-bottom: 20px;
}

th {
  font-size: 18px;
}

td {
  font-size: 15px;
}

.table td, .table th {
  padding: .5rem;
}

#infant #preschool {
  font-size: 28px;
}

.block {
  background-color: white;
  padding: 50px;
}



/*GALLERY*/

.zoom {
  float: left;
  transition: transform 0.2s;
  padding: 15px 17px;
  max-width: 100%;
  height: auto;
}

.zoom:hover {
  transform: scale(1.5);
  z-index:1;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding-right: 18px;
  padding-left: 18px;
}
.column {
  flex: 25%;
  max-width: 25%;
}

.column img {
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.imgGal {
  position: relative;
  float: left;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
}



/*HOME*/
.welcomeImg {
  max-width: 400px;
  float: left;
  padding: 20px;
}

.mapleImg {
  max-width: 190px;
  float: right;
}

.pBlock {
  background-color: white;
  min-height: 210px;
  padding: 20px;
}

.container {
  max-width: 1350px;
  min-width: 420px;
}

p {
  font-size: 15px;
}

.borderBlock {
  border: 1px solid #FFDBB4;
  margin: 16px 28px;
  padding: 20px;
  min-height: 220px;
  max-width: 1250px;
}

.linkGal {
  position: relative;
  width: 100%;
  height: auto;
  max-height: 400px;
  min-height: 250px;
  float: right;
}

.homeLogo {
  position: relative;
  top: 25px;
  text-align: center;
  color: saddlebrown;
  font-family: "Bubblegum Sans", Arial, sans-serif;
  font-size: 88px;
}

* {
  box-sizing: border-box;
}

.column2 {
  padding: 10px 20px;
  margin-bottom: 20px;
  width: 100%;
  height: auto;
}



/*CONTACT*/

.map-responsive iframe{
  height:100%;
  width:100%;
  margin-bottom: 210px;
  min-height: 500px;
  float: left;
}


.contactBox {
  background-color: #FFDBB4;
  float: left;
  width:100%;
  padding: 10px;
  margin-right: 20px;
  margin-bottom: 20px;

}

.contactText {
  font-weight: bold;
  margin-bottom: 10px;
}

.cForm {
  float:right;
  margin-top: -170px;
  margin-left: 10px;
}

#raindrops {
  float:right;
  margin-left: 10px;
  padding-bottom: 50px;
  margin-top: -170px;
  margin-left: 10px;
}


* {
  box-sizing: border-box;
}

input[type=text], input[type=date], input[type=password], input[type=tel], input[type=email], select, textarea {
  width: 100%;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  size: 100px;
}


input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}


.labelRad {
  font-size: 15px;
  padding: 10px 12px 0 0;
  display: inline-block;
}

textarea {
  background: #FFEDD9;
  margin-top: 10px;
}







/* ERROR */
.errorList {
  font-family: "Varela", Arial, sans-serif;
  font-size: 13px;
  margin: 0px;
  float: left;
  color: darkred;
  padding-right: 7px;

}



















